DATABASE_URL=postgresql://username:password@localhost/database_name
SECRET_KEY=the_secret_key
GROQ_API_KEY=the_groq_api_key

ENVIRONMENT=development
FRONTEND_URL=http://localhost:5173
UPLOAD_DIR=uploads 